.contact {
    @extend %foreground-white;
    @extend %panel;
    // background-color: red;
    background-image: url('../img/secret-phone.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    // background-size: contain;
    background-attachment: fixed;
    .label {
        font-weight: 800;
        display: inline-block;
        margin-right: 0.5em;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            display: inline-block;
            margin-right: 2em;
        }
    }
}
