.post-type-archive-event, .single-event {
    .event-back {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        > .container {
            border-bottom: 1px solid;
        }
    }
    .event {
        background: #fff;
        padding: 50px;
        border: 1px solid;
        border-bottom: 0;
        h2  {
            margin: 0 0 0.5em;
        }
    }
    // Prevents double borders by removing borders from the first item in each row.
    @include respond-to($desktop) {
        .row > .event:first-child {
            border-right: 0;
        }
    }
    .event-title {
        font-style: italic;
        font-weight: bold;
    }
    .event-details {

        border: 1px solid;
        border-bottom: none;
        padding: 1em;
        font-size: 14px;
        h5 {
            font-weight: bold;
            margin: 0 0 1em;
        }
        strong {
            width: 45px;
            display: inline-block;
        }
    }
    .event-social-btns {
        @extend .btn-group;
        @extend .btn-group-justified;
        a { 
            @extend %aquanaut-button; 
            padding: 0.5em 1.5em 0.5em !important;
            border-top: 0;
            &:hover {
                background: #fff !important;
                border-color: #000 !important;
            }
            &:first-child {
                border-right: 1px solid #fff; 
            }
            &:first-child:hover {
                border-right: 1px solid #fff !important;
            }
        }
        .facebook-share, .twitter-share {
            @extend .btn;
            @extend .btn-default;
            border: 1px solid black;
            border-radius: 0;
        }

        a.twitter-share.btn-default {
            min-width: 144px !important;
            // fixed something weird with borders
        }

        .facebook-sm { 
            @include use-sprite('facebook-sm'); 
            display: inline-block;
            margin-right: 0.5em;
            position: relative;
            top: 3px;
            
        }
        .twitter-sm { 
            @include use-sprite('twitter-sm'); 
            display: inline-block; 
            margin-right: 0.5em; 
            position: relative;
            top: 3px;
        }
    }
}

