.post-type-archive-event, .single-event {
    .event-back {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        > .container {
            border-bottom: 1px solid;
        }
    }
    .event {
        background: #fff;
        padding: 50px;
        border: 1px solid;
        border-bottom: 0;
        h2  {
            margin: 0 0 0.5em;
        }
    }
    // Prevents double borders by removing borders from the first item in each row.
    @include respond-to($desktop) {
        .row > .event:first-child {
            border-right: 0;
        }
    }
    .event-title {
        font-style: italic;
        font-weight: bold;
    }
    .event-details {

        border: 1px solid;
        // border-bottom: none;
        .inner { padding: 1em; }
        font-size: 14px;
        h5 {
            font-weight: bold;
            margin: 0 0 1em;
        }
        strong {
            width: 45px;
            display: inline-block;
        }
    }
    .event-social-btns {

        border-top: 1px solid #000; 
        a { 
            border: 0 !important;
            @extend %aquanaut-button; 
            padding: 1em!important; 
            display: inline-block;
            text-align: center;
            width: calc(50% - 3px);
        }


        .facebook-sm { 
            @include use-sprite('facebook-sm'); 
            display: inline-block;
            margin-right: 0.5em;
            position: relative;
            top: 3px;
            
        }
        .twitter-sm { 
            @include use-sprite('twitter-sm'); 
            display: inline-block; 
            margin-right: 0.5em; 
            position: relative;
            top: 3px;
        }
    }
}

