.contact-map {
    // @extend .container-fluid;
    width: 100%;
    background-position: top center; 
    background-repeat: no-repeat; 
    
    @include respond-to($desktop) {
        min-height: 850px;
    }
}

.contact-card {
    @extend .col-md-5;
    @extend .col-md-offset-5;
    height: 100%;
    &__inner {
        padding: 2em;
        background: #fff;
        height: 100%;
        margin: 90px 0 90px;
    }

    h2 {
        font-weight: bold;
        font-style: italic;
        margin-top: 0;
    }
    h4 { 
        font-weight: bold; 
        // margin: 0;
    }
    .contact-group {
        margin-bottom: 1.3em;
        font-style: italic;
    }
    .social-links {
        padding: 0;
        list-style-type: none;
        .icon-wrap {
            display: inline-block;
            min-width: 30px;
        }
        .fb {
            @include use-sprite('facebook-sm');
        }
        .ins {
            @include use-sprite('instagram-sm');
        }
        .twt {
            @include use-sprite('twitter-sm');
        }
    }
}
