.page-about {
    .bio-sidebar {
        // @extend .col-md-4;
        float: right;
        width: 33%;
        display: none;
        line-height: 1.6em; 
        padding: 0 1.5em 0; 
        font-size: 14px; 
        text-align: left;
        @include respond-to($desktop) {
            display: block;
            text-align: center;
        }
    }
    .bio-block{
        font-size: 14px; 
        display: block;
        img { margin-right: 1em; }
        @include respond-to($desktop) {
            display: none;
        }
    }
}
