.sign-up {
    @extend %foreground-white;
    @extend %panel;


    .form-response {
        display: none;
    }

    .fat {
        font-weight: 800;
        margin-bottom: 1em;
    }
    .signup-team.active, .signup-individual.active {
        display: block;
    }

    .signup-team, .signup-individual {
        display: none;
    }

    .register-as {
        @include radio;
        + label:before {
            @include border-radius(4px);
            width: 20px;
            height: 20px;
            font-size: 30px;
            font-size: 20px;
            line-height: 0.9em;
            background-color: red;
            // &:checked {
            //     background-color: red;
            // }
        }
        @include respond-to($desktop) {
            margin-bottom: 1em;
        }
    }

    input[type=text] {
        height: 75px;
        width: 100%;
        margin-bottom: 1em;
        border: 0;
        outline: 0;
        background: transparent;
        color: #fff;
        border-bottom: 2px solid #fff;
        padding: 10px 0;
    }
    input[type=submit] {
        @include ghost-button;
        font-size: 24px;
        width: 100%;
        @include respond-to($desktop) {
            width: auto;
        }
    }
    .field-wrapper {
        @extend .col-md-4;
        position:relative;
        margin-bottom: 30px;

    }
    label.floating {
        position:absolute;
        top:-13px;
        left:15px;
        font-size: 14px;
        color: #fff;
        transition: all 0.1s linear;
        opacity:0;
        font-weight:bold;
    }
    label.on {
        color: #000;
    }
    label.show {
        top:-15px;
        opacity:1;
    }
    .team-member {
        @extend .row;
           
    }

    @include placeholder {
        font-family: inherit;
        color:  #fff;
        font-weight: 300;
    }
}
