/**
 * This is the Global site header.
 * located at the top of each and every page
 */
body {
    font-family: $kepler;
}

.site-header {
    display: none;
   .logo {
        @include use-sprite('logo-small');  
        display: inline-block;
        margin-top: 10px;
        width: 165px;
    }
    .small-nav {
        @extend %nav-list;
        width: calc(99% - 165px);
        display: inline-block;
        ul {
            display: inline-block;
            float: right;
        }
    }
    @include respond-to($desktop) {
        display: block;
        .small-nav { display: none; }
        .logo {
            @include use-sprite('logo');
            margin: 20px auto;
        }
    }
}

.sticky-header {
    @extend .navbar;
    @extend .navbar-default;
    z-index: 999;
    display: block;
    position: fixed; 
    top:0;
    background: #fff;
    width: 100%;
    a {
        font-weight: bold !important;
    }
    .logo {
        @include use-sprite('logo-small');  
        margin-top: 15px;
        margin-left: 15px;
    }
    .small-nav {
        @extend %nav-list;

    }
    @include respond-to($desktop) {
        display: none;
        &.sticky {
            display: block;
            position: fixed; 
            top:0;
        }
    }

}

%nav-list {
    ul { 
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline;
        float: left;
    }   
    a { 
        display: block;
        padding: 1em 2em 1em;
        font-family: $kepler !important;
        font-size: 16px;
        font-weight: 700;
    }
}

// Removed nav hover background color
.nav > li > a:hover, .nav > li > a:focus {
    background: 0;
}

.site-nav {
    @extend %nav-list;
    display: none;
    @include respond-to($desktop) {
        display: inline-block;
        position: relative;
        margin: -10px auto -10px -259px;
        // margin-left: -259px;
        // margin-bottom: -10px;
        left: 50%;
        padding: 0 15px 0;
        text-align: center;
    }
       
}

