.site-header {
    display: none;
   .logo {
        @include use-sprite('logo-small');  
        display: inline-block;
        margin-top: 10px;
        width: 165px;
    }
    .small-nav {
        @extend %nav-list;
        width: calc(99% - 165px);
        display: inline-block;
        ul {
            display: inline-block;
            float: right;
        }
    }
    @include respond-to($desktop) {
        display: block;
        .small-nav { display: none; }
        .logo {
            @include use-sprite('logo');
            margin: 20px auto;
        }
    }
}

.sticky-header {
    @extend .navbar;
    @extend .navbar-default;
    z-index: 999;
    display: block;
    position: fixed; 
    top:0;
    background: #fff;
    width: 100%;
    a {
        font-weight: bold !important;
    }
    .logo-wrap {
        display: inline-block;
        overflow: hidden;
    }
    .logo {
        @include use-sprite('logo-small');  
        margin-top: 15px;
        margin-left: 15px;

    }
    .small-nav {
        @extend %nav-list;

    }
    @include respond-to($medium) {
        .logo {
            margin-left: 0;
        }
    }
    @include respond-to($desktop) {
        display: none;
        &.sticky {
            display: block;
            position: fixed; 
            top:0;
        }
    }

}

%nav-list {
    ul { 
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline;
        float: left;
    }   
    a { 
        display: block;
        padding: 1em 2em 1em;
        font-family: $kepler !important;
        font-size: 16px;
        font-weight: 700;
    }
}

// Removed nav hover background color
.nav > li > a { font-size:  18px !important; }
.nav > li > a:hover, .nav > li > a:focus {
    background: 0;
    
}

.site-nav {
    @extend %nav-list;
    display: none;
    @include respond-to($desktop) {
        display: inline-block;
        position: relative;
        margin: -10px auto -10px -293px;
        // margin-left: -259px;
        // margin-bottom: -10px;
        left: 50%;
        padding: 0 15px 0;
        text-align: center;
    }
       
}

.toggleNav{
 
  width: 40px;
  height: 40px;

}


$navbar-default-toggle-hover-bg: 0;
.navbar-toggle {
    width: 40px; 
    height: 40px; 
    border: 0; 
    padding: 10px 0;
    cursor: pointer;
}

.toggleNavButton{
    -webkit-transition-timing-function: ease-out; /* Safari and Chrome */
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
    width: 40px;
    height: 2px;
    background-color: black;
    position: absolute;
    border-radius: 2px;

  
    &:before, &:after{
        border-radius: 2px;
        transition-duration: 0.5s;
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        background-color: black;
        width: 40px;
        height: 2px;
    }
  
    &:after{
        top: 20px;
    }
  
    &.active{
        width: 0;
    
        &:after{
            top: 10px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    
        &:before{
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }
}

