
.splash {
    padding-top: 45px;
    padding-bottom: 45px;
    background-image: url('../img/tricky-dick.jpg');
    background-position: center;
    background-color: red;
    background-size: cover;
    @extend %foreground-white;
    h1 {
        font-size: 40px;
        font-weight: 900;
        line-height: 1em;
        margin-bottom: 0.5em;
    }
    p { 
        font-size: 30px; 
        line-height: 1.3em; 
        max-width: 90%; // 90% inside content-wrapper
        margin-bottom: 45px;
    }
    .button {
        @include ghost-button;
        font-size: 25px;
        margin-bottom: 0.5em;
        display: block;
    }
    .content-wrapper {
        max-width: 100%;
    }

    @include respond-to($medium) {
        padding-top: 90px;
        padding-bottom: 90px;
        h1 {
            font-size: 40px;
        }
        .content-wrapper {
            max-width: 70%;
        }
        .button {
            margin-right: 0.5em;
            margin-bottom: 0;
            display: inline-block;
        }
    }
    @include respond-to($desktop) {
        // min-height: 1100px;
        padding-top: 180px;
        padding-bottom: 180px;
        .content-wrapper { max-width: 70%; }
        h1 {
            font-size: 80px;
        }
        p {
            max-width: 100%;
        }
        .button {
            margin-right: 0.5em;
            margin-bottom: 0;
            display: inline-block;
        }
    }
}
