@import 'mixins/accessibility';
@import 'mixins/vendor-prefixes';
@import 'mixins/triangle';
@import 'mixins/retina-sprite';
@import 'mixins/ghost-vertical-align';
@import 'mixins/respond-to';
@import 'mixins/placeholder-styles';



%foreground-red {
    color: red;
    background: white;
    p a { 
        color: red; 
        &:hover {
            color: red;
            text-decoration: underline;
        }
    }
}

%foreground-white{
    color: white;
    background: red;
    p a { 
        color: white; 
        &:hover {
            color: white; 
            text-decoration: underline;
        }
    }
}


%panel {
    padding-top: 45px;
    padding-bottom: 80px;
    @include respond-to($medium) {
        padding-top: 90px;
        padding-bottom: 130px;
    }
    @include respond-to($desktop) {
        padding-top: 160px;
        padding-bottom: 200px;
    }
}







