@import 'mixins/accessibility';
@import 'mixins/vendor-prefixes';
@import 'mixins/triangle';
@import 'mixins/retina-sprite';
@import 'mixins/ghost-vertical-align';
@import 'mixins/respond-to';



%foreground-red {
    color: red;
    background: white;
}

%foreground-white{
    color: white;
    background: red;
}










