$icon-spacing: 2px;
$icon-sprite-dimensions: true;
@import "icons/*.png";              
@include all-icons-sprites;
@import "icons-2x/*.png";              
@include all-icons-2x-sprites;



$icons: sprite-map("icons/*.png", $layout: smart);
$icons-2x: sprite-map("icons-2x/*.png", $layout: smart);
