.sprite {
    background-image: url(../sprites.png);
    background-repeat: no-repeat;
}

.icon-made-by-doejo {
    @extend .sprite;
    background-position: 0 0;
    width: 119px;
    height: 23px;
}

.icon-twitter {
    background-position: -125px -1px;
    width: 22px;
    height: 22px;
}

.icon-facebook{
    background-position: -152px 0;
    width: 22px;
    height: 22px;
}
