body {
    color: $base-font-color;
    background: #fff;
    font-size: $base-font-size;
    line-height: $base-line-height;
    text-rendering: optimizeLegibility;
    font-family: "interface", "Helvetica Neue", sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5  {
    // margin-top: 0;
    font-weight: 800;
    line-height: 1em;
}

h1 { font-size: 60px; }
h2 { font-size: 30px; }




a {
    color: $base-link-color;
    text-decoration: none;
    &:hover {
        color: $base-link-color--hover;
        text-decoration: underline;
    }
}
