@import 'normalize';
@import 'variables';
@import 'grid';
@import 'mixins';
@import 'type';
@import 'sprites';

/* Patterns */
@import 'patterns/button';

/* Partials */
@import 'partials/splash';


.copy {
    @extend %foreground-red;
    blockquote {
        font-size: 60px;
        line-height: 1em;
        font-weight: 900;
        > cite {
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
        }
    }
}

.schedule {
     @extend %foreground-white;
}

.rules {
    @extend %foreground-red; 
    ol {
        font-weight: 900;
        li {
            margin-bottom: 1.75em;
            > span {
                font-weight: normal;
            }
        } 
    }
}

.sign-up {
    @extend %foreground-white;
}

.contact {
    @extend %foreground-white;
    background-image: url('../img/secret-phone.jpg');
    background-position: center;
    background-color: red;
    background-size: cover;

    .label {
        font-weight: 900;
        display: inline-block;
        margin-right: 0.5em;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            display: inline-block;
            margin-right: 2em;
        }
    }
}

