@import 'normalize';
@import 'variables';
@import 'grid';
@import 'mixins';
@import 'type';
@import 'sprites';

/* Patterns */
@import 'patterns/button';
@import 'patterns/radio';
@import 'patterns/checkbox';

/* Partials */
@import 'partials/splash';
@import 'partials/copy';
@import 'partials/schedule';
@import 'partials/rules';
@import 'partials/signup';
@import 'partials/contact';
@import 'partials/site-footer';


.parsley-errors-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.parsley-errors-list.filled:parent, .hasError {
    background: #fff;
    border-color: red;
    color: red;
}
