.home-splash {
    background: url(http://placekitten.com/2200/600) top center no-repeat; 
    min-height:600px;
    color: #fff;
    display: table;
    width: 100%;
    &__inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    &__headline {
        font-style: italic;
        font-size: 60px;
        line-height: 1em;
        font-weight: bold;
    }
    &__button {
        margin-top: 4em;
       @extend %aquanaut-button;
    }
}
