.page-wrap {
    position: static;
    .prev-next-links{
        position: relative;
    }
}


.prev-next-links{
    padding: 1em;
    
    .previous-post {
        @include use-sprite('arrow-left');
        .single-beer & {
            @include use-sprite('arrow-left-white');
            @include respond-to($desktop) {
                margin-left: 90px;
                left: 0;
            }

        }
    }

    .next-post{
        @include use-sprite('arrow-right');
        .single-beer & {
            @include use-sprite('arrow-right-white');
            @include respond-to($desktop) {
                margin-right: 90px;
                right: 0;
            }
        }
    } 

    a { 
        display: inline-block;
    }
   
    a[rel="next"] { 
        float: right;
    }
}

.post-previews .prev-next-links{
    padding-top: 45px;
    padding-bottom: 45px;
}

// Handles the positioning for Desktop views where arrows are positioned half 
// way down the page, -50px on the outside of the container
@include respond-to($desktop) {
    .page-wrap {
        position: relative;
        .prev-next-links{
            position: static;
            .previous-post {
                position: absolute;
                top: 50%;
                left: -50px;
            }
            .next-post{
                position: absolute;
                top: 50%;
                right: -50px;
            }
        }
    }
}
